@font-face {
    font-family: 'Lora';
    src: url('/font/Lora-VariableFont_wght.ttf') format('ttf'),
         url('/font/Lora-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: normal;
}